{% extends "base.html.twig" %}

{# {% form_theme formView 'bootstrap_5_layout.html.twig' %} #}

{% block title %}
	Création d'un produit
{% endblock %}

{% block body %}
	<h1>Nouveau Produit</h1>

	{# {{ form(formView) }} #}


	{{ form_start(formView)}}

	{{form_errors(formView)}}

	{# {{ form_widget(formView)}} #}


	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}

			{# <div class="form-group">
																															{{form_label(formView.name)}}
												
																															{{form_errors(formView.name)}}
																														</div> #}
			{{form_row(formView.price)}}

		</div>
		<div class="col">
			{{form_row(formView.mainPicture)}}
			{{form_row(formView.category)}}
			{{form_row(formView.shortDescription)}}

		</div>
	</div>

	{# {{form_label(formView.name)}}
															{{form_errors(formView.name)}}
															{{form_widget(formView.name)}}
															{{ form_help(formView.name)}} #}


	<button type="submit" class='btn btn-primary mt-3'>
		<i class="fas fa-save"></i>
		Créer le produit
	</button>

	{{ form_end(formView)}}
{% endblock %}

{# {% block form_row %}
	<div class="form-group">
		{{form_label(form)}}

		{{form_widget(form, {'attr': {'class': 'form-control'}})}}
		{{form_help(form)}}
		{{form_errors(form)}}
	</div>

{% endblock %} #}
